# General finder metadata
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with a carriage return (\r) 
Icon?

# Thumbnails
._*

# Files that might appear on external disks / network shares
.Spotlight-V100
.Trashes
AppleDB
AppleDesktop
Network Trash Folder
temporary items
apdisk
